.article-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.image-1{
    background-image: url("https://i.ibb.co/WH5Dkyv/gst2.jpg");
    height: 260px;
    width: 480px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 16px;

}

.img-2{
    background-image: url("https://i.ibb.co/Mpr81d0/gst1.jpg");
    height: 260px;
    width: 480px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 16px;
}
.gst-link{
    color: #ffffff;
}
